<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="register" />
                <binding name="login" />
                <binding name="Common" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="Doctor" />
                <binding name="Patient" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/register/"
                binding="basicHttpBinding" bindingConfiguration="register"
                contract="RegistrationService.IRegistrationService" name="register" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/auth/login"
                binding="basicHttpBinding" bindingConfiguration="login" contract="AuthService.IAuthService"
                name="login" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/user/doctor"
                binding="wsDualHttpBinding" bindingConfiguration="Doctor"
                contract="UserService.IDoctorService" name="Doctor">
                <identity>
                    <userPrincipalName value="MAKS-PC\Maks" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/user/patient"
                binding="wsDualHttpBinding" bindingConfiguration="Patient"
                contract="UserService.IPatientService" name="Patient">
                <identity>
                    <userPrincipalName value="MAKS-PC\Maks" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/user/common"
                binding="basicHttpBinding" bindingConfiguration="Common" contract="UserService.ICommonService"
                name="Common" />
        </client>
    </system.serviceModel>
</configuration>