<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="register" />
                <binding name="login" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/register/"
                binding="basicHttpBinding" bindingConfiguration="register"
                contract="RegistrationService.IRegistrationService" name="register" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/auth/login"
                binding="basicHttpBinding" bindingConfiguration="login" contract="AuthService.IAuthService"
                name="login" />
        </client>
    </system.serviceModel>
</configuration>