<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="register" />
                <binding name="login" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="doctor" />
                <binding name="patient" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/register/"
                binding="basicHttpBinding" bindingConfiguration="register"
                contract="RegistrationService.IRegistrationService" name="register" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/auth/login"
                binding="basicHttpBinding" bindingConfiguration="login" contract="AuthService.IAuthService"
                name="login" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/doctor/"
                binding="wsDualHttpBinding" bindingConfiguration="doctor"
                contract="DoctorService.IDoctorService" name="doctor">
                <identity>
                    <userPrincipalName value="Pyshnyak@rivne.itstep.org" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/E_Hospital/patient/"
                binding="wsDualHttpBinding" bindingConfiguration="patient"
                contract="PatientService.IPatientService" name="patient">
                <identity>
                    <userPrincipalName value="Pyshnyak@rivne.itstep.org" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>